<div class="messages-main">
  <div class="message-top">
    <h1 class="message-title">ご意見/ご要望</h1>
  </div>

  <div class="message-content">
    <div id="messages-comment-area">
      <%= render 'message_comments/index' %>
    </div>

      <div id="message-form-area">
        <%= render 'message_comments/comment_form' %>
      </div>
  </div>
</div>