<h1>詳細画面</h1>

<%= image_tag @visual.image.variant(resize: '400x400') %>

<% if current_user.admin? %>
  <%= link_to '編集', edit_visual_path(@visual.id) %>
  <%= link_to '削除', visual_path(@visual.id), method: :delete, data: {
    confirm: "こちらの画像を削除してもよろしいでしょうか？",
    cancel: "やめる", 
    commit: "削除する"
  }, title: "削除確認" %>
<% end %>