<div class="create-content-main">
  <div class="create-content-top">
    <h1 class="create-content-title">削除完了</h1>
  </div>

  <div class="create-content">
    <h3 class="create-content-text destroy-content-text"><i class="fas fa-trash-alt mr-3"></i>投稿の削除が完了しました</h3>
    <%= link_to '一覧へ戻る', drinks_path, class: "btn btn-outline-danger mt-4" %>
  </div>
</div>