<div class="comment-content-main">
  <div class="comment-count">
    全<%= comments.count %>件のコメントがあります<br />
  </div>

  <div class="commnt-container" id="comment-container">
    <% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <div class="comment-content" id="commnet-content">
          <p class="comment-detail">
            <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment-user-nickname" %>：<%= comment.created_at.strftime("%Y/%m/%d") %>
          </p>
          <p class="comment-text">
            <%= comment.comment %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>