<div class="create-content-main">
  <div class="create-content-top">
    <h1 class="book-destroy-title">キャンセル完了</h1>
  </div>

  <div class="book-destroy-content">
    <h3 class="book-destroy-text"><i class="fas fa-trash-alt mr-3"></i>予約のキャンセルが完了しました</h3>
    <%= link_to '予約履歴へ戻る', user_path(current_user.id), class: "btn btn-outline-danger mt-4" %>
  </div>
</div>