<div class="food-create-main">
  <div class="food-create-top">
    <ol class="nav">
    <li class="nav-list">1.入力</li>
    <li class="nav-list current">2.完了</li>
  </ol>
  </div>
  
  <div class="food-create-content">
    <h3 class="food-create-title"><i class="far fa-check-square mr-3"></i>投稿が完了しました</h3>
    <%= link_to '一覧へ戻る', foods_path, class: "btn btn-outline-danger mt-4" %>
  </div>
</div>