<div class="create-content-main">
  <div class="create-content-top">
    <h1 class="create-content-title">編集完了</h1>
    <ol class="nav">
      <li class="nav-list">1.入力</li>
      <li class="nav-list current">2.完了</li>
    </ol>
  </div>

  <div class="create-content">
    <h3 class="create-content-text"><i class="far fa-check-square mr-3"></i>編集が完了しました</h3>
    <%= link_to '詳細へ戻る', food_path(params[:id]), class: "btn btn-outline-danger mt-4" %>
  </div>
</div>