<div class="comment-form">
  <%= form_with model: [food, comment], id: "form", class: "comment-form-text" do |f| %>
    <%= f.text_field :comment, id: "content", class: "comment-text-field" %><br />
    <%= f.submit 'コメントを送信する', id: "submit", class: "comment-submit" %>
  <% end %>
</div>