#blog-comments-area{
  text-align: center;
}

#blog-comment-create{
  text-align: center;
}

.blog-comment-area{
  border: 2px solid #00EE00;
  border-radius: 10px;
  background-color: #EEE;
  width: 60%;
  margin: 50px auto;
  padding-bottom: 25px;
}

@media (max-width: 500px){
  .blog-comment-area{
    width: 80vw;
  }
}