.blog-index-main{
  width: 100%;
  height: 100%;
  padding-top: 60px;
}


.blog-index-top{
  margin: 0 5%;
}

.blog-table{
  margin: 0 auto;
  width: 75%;
}

.blog-table-body{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 10px 0;
}

.blog-table-content td{
  text-align: center;
}

.blog-index-img{
  text-align: center;
  margin: 5px 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.blog-index-img img{
  width: 150px;
  height: 100px;
}

.blog-index-img .cption{
  display: inline;
}

.blog-index-img span{
  position: absolute;
  /* display: inline-block; */
  /* 非表示 */
  display: none;
  top: 5px;
  left: -30px;
  background-color: red;
  color: white;
  transform: rotate(-45deg);
  width: 100px;
  text-align: center;
  font-family: 'arial black';
}

.blog-index-title{
  font-weight: bold;
  font-size: 25px;
}

.blog-index-daytime{
  font-weight: bold;
}

@media (max-width: 500px){
  .blog-table{
    width: 100%;
  }

  .blog-index-img img{
    width: 100px;
    height: 80px;
  }
  
  .blog-index-title{
    font-size: 10px;
    width: 80px;
  }

  .blog-index-daytime{
    font-size: 10px;
  }

  .blog-table-content td a{
    font-size: 10px;
    padding: 5px;
  }
}