.book-destroy-title{
  width: 280px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.book-destroy-content{
  margin: 130px auto;
  background-color: #EEE;
  width: 45vw;
  padding: 60px;
  border-radius: 10px;
}