.new-book-main, .confirm-book-main, .complete-book-main{
  text-align: center;
  padding-top: 100px;
}

.new-book-title{
  width: 180px;
  font-family: 'Noto Serif JP', serif;
  margin: 0 auto 15px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.confirm-book-title{
  width: 300px;
  font-family: 'Noto Serif JP', serif;
  margin: 0 auto 20px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.complete-book-title{
  width: 180px;
  font-family: 'Noto Serif JP', serif;
  margin: 0 auto 20px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.new-book-form{
  background-color: #EEEEEE;
  width: 30vw;
  margin: 40px auto 0 ;
  padding: 20px 0;
  border-radius: 5px
}

.field{
  padding-bottom: 5px;
}

.reserve-date-field{
  width:250px;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
}

#book_reserve_time_4i{
  width: 60px;
  border: none;
  border-radius: 4px;
}

#book_reserve_time_5i{
  width: 60px;
  border: none;
  border-radius: 4px;
}

.number-reserve-field{
  border: none;
  border-radius: 4px;
}

#book_reserve_category_id{
  width: 160px;
  height: 25px;
  border: none;
  border-radius: 4px;
}

.confirm-book-form{
  background-color:  #EEEEEE;
  width: 50vw;
  margin: 40px auto 40px;
  padding: 20px 0;
  border-radius: 5px;
}

.confirm-book-table{
  margin: 30px auto;
  font-weight: bold;
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
}

.confirm-book-table tr{
  border-bottom: 1px solid black;
}

.book-actios{
  display: flex;
  justify-content: center;
}

.complete-book-form{
  background-color: #EEEEEE;
  width: 40vw;
  margin: 100px auto;
  padding: 60px 0px;
  border-radius: 5px;
}

.complete-book-btn{
  margin-top: 40px;
}

@media (max-width: 500px){
  .new-book-main, .confirm-book-main, .complete-book-main{
    padding-top: 20px;
  }

  .new-book-title{
    margin-bottom: 50px;
  }

  .new-book-form{
    width: 80vw;
  }

  .confirm-book-title{
    width: 250px;
    margin-bottom: 50px;
  }

  .confirm-book-form{
    width: 80vw;
    padding: 10px 0 40px;
  }

  .confirm-book-table{
    width: 85%;
    margin: 10px auto 40px;
  }

  .complete-book-form{
    width: 80vw;
  }

  .complete-book-subtitle{
    font-size: 25px;
  }

  .book-complete-btn{
    margin-bottom: 20px;
  }
}