.book-destroy-title{
  width: 280px;
  font-family: 'Noto Serif JP', serif;
  margin: 0 auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.book-destroy-content{
  margin: 130px auto;
  background-color: #EEE;
  width: 45vw;
  padding: 60px;
  border-radius: 10px;
}