.create-content-main{
  width: 100%;
  height: 100%;
  text-align: center;
}

.create-content-top{
  margin-top: 30px;
}

.create-content-title{
  width: 200px;
  border-bottom: 2px solid black;
  margin: 0 auto 20px;
}

.create-content{
  margin: 130px auto;
  background-color: #EEE;
  width: 40vw;
  padding: 60px;
  border-radius: 10px;
}

@media (max-width: 500px){
  .create-content{
    width: 80vw;
    margin: 100px auto;
    padding: 60px 20px;
  }

  .create-content-text{
    font-size: 23px;
    font-weight: bold;
    margin-top: 15px;
  }

  .destroy-content-text{
    font-size: 18px;
    font-weight: bold;
    
  }
}
