.drink-new-main{
  width: 100%;
  height: 100%;
  text-align: center;
}

.drink-new-title{
  width: 180px;
  border-bottom: 2px solid black;
  margin: 30px auto;
}

#drink_drink_category_id{
  width: 160px;
  border: none;
  border-radius: 5px;
}

#drink-image-list img{
  margin: 0 auto;
  width: 450px;
  height: 300px;
}

.check-box-content{
  font-weight: bold;
}

#drink_free_drink{
  transform: scale(1.3);
}

@media (max-width: 500px){
  .drink-new-title{
    margin: 10px auto 20px;
  }

  #drink-image-list img{
    width: 90%;
    height: 200px;
  }
}