.drink-edit-main{
  width: 100%;
  height: 100%;
  text-align: center;
}

.drink-edit-title{
  width: 180px;
  font-family: 'Noto Serif JP', serif;
  margin: 20px auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

#image{
  margin: 0 auto;
  width: 450px;
  height: 300px;
}