.edit-complete-book-title{
  width: 250px;
  font-family: 'Noto Serif JP', serif;
  margin: 20px auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

@media (max-width: 500px){
  .complete-book-subtitle{
    font-size: 20px;
    font-weight: bold;
  }

  .complete-book-btn a{
    margin-bottom: 20px;
  }
}