.edit-complete-book-title{
  width: 250px;
  border-bottom: 2px solid black;
  margin: 20px auto;
}

@media (max-width: 500px){
  .complete-book-subtitle{
    font-size: 20px;
    font-weight: bold;
  }

  .complete-book-btn a{
    margin-bottom: 20px;
  }
}