.edit-book-main{
  text-align: center;
  margin: 40px 0;
}

.edit-book-title{
  width: 250px;
  font-family: 'Noto Serif JP', serif;
  margin: 20px auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

@media (max-width: 500px){
  .edit-book-main{
    margin: 10px 0;
  }

  .edit-book-title{
    margin-bottom: 40px;
  }
}