.food-new-main{
  width: 100%;
  height: 100%;
  text-align: center;
}

.food-new-title{
  width: 180px;
  border-bottom: 2px solid black;
  margin: 30px auto ;
}

#food_food_category_id{
  width: 160px;
  border: none;
  border-radius: 5px;
}

#food-image-list img{
  margin: 0 auto;
  width: 450px;
  height: 300px;
}

#food_free_food{
  transform: scale(1.3);
}

@media (max-width: 500px){
  #food_image{
    width: 90%;
  }

  #food-image-list img{
    width: 90%;
    height: 200px;
  }
}