.food-create-main{
  width: 100%;
  height: 100%;
  text-align: center;
}

.food-create-top{
  margin-top: 30px;
}

.food-create-content{
  margin: 170px auto;
  background-color: #EEE;
  width: 40vw;
  padding: 60px;
  border-radius: 10px;
}
