.show-content-main{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}

.show-content-left, .show-content-right{
  width: 50%;
}

.show-content{
  border: 2px solid gray;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
}

.show-content-image img{
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.show-content-title{
  margin: 20px 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3px;
}

.show-content-detail{
  font-size: 20px;
  letter-spacing: 1px;
}

.show-content-price{
  font-size: 25px;
  letter-spacing: 3px;
  margin: 20px 0;
}

.show-content-category{
  letter-spacing: 3px;
  font-size: 20px;
  margin-bottom: 20px;
}

.content-only-admin{
  margin-top: 30px;
}

@media (max-width: 500px){
  .show-content-main{
    display: block;
  }

  .show-content-left{
    margin: 0 auto;
    width: 80%;
  }

  .show-content{
    width: 100%;
    margin-top: 30px;
  }

  .content-only-admin a{
    font-size: 15px;
  }

  .show-content-right{
    width: 80%;
    margin: 0 auto;
  }

  .comment-area{
    width: 100%;
    margin: 30px auto;
  }
}
