header{
  display: block;
}

.navbar{
  height: 60px;
  display: flex;
  background-color: #C00;
}

.login-nickname{
  font-size: 30px;
  color: white;
}

.header-item {
  font-size: 30px;
}

.nav-item{
  padding-right: 20px;
  font-weight: bold;
}