.message-title{
  width: 260px;
  font-family: 'Noto Serif JP', serif;
  margin: 20px auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.messages-main{
  padding-top: 60px;
}

@media (max-width: 500px){
  .message-title{
    font-size: 30px;
    text-align: center;
    display: none;
  }

  .messages-main{
    padding-top: 50px;
  }
}