.top-main{
  height: 100vh;
  width: 80vw;
  margin: 0 auto 0;
}

.main-content{
  padding-top: 200px;
}

.card{
  background-size: cover;
}

.card:hover{
  transform: scale(1.1, 1.1);
}

.card-item{
  text-align: center;
  display: block;
  height: 150px;
  width: 25vw;
}

.card-title{
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: bold;
  text-shadow:1px 5px 5px black;
  color: #FFFF00;
}

.new-book-grid{
  height: 50px;
  font-size: 30px;
  width: 100%;
  letter-spacing: 15px;
  border: 2px red solid;
  color: red;
}

.new-book-grid:hover{
  background-color: red;
  color: white;
}


.grid{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-item:hover{
  text-decoration: none;
}

.book-card{
  background-image: image-url("book-card.jpg");
}

.chat-card{
  background-image: image-url("chat-card.jpg");
}

.blog-card{
  background-image: image-url("blog-card.jpg");
}

.visual-card{
  background-image: image-url("visual-card.jpg");
}

.food-card{
  background-image: image-url("food-card.jpg");
}

.drink-card{
  background-image: image-url("beer.jpeg");
}

@media (max-width: 500px){
  .main-content{
    padding: 20px 0;
  }

  .card-text{
    font-size: 25px;
    letter-spacing: 0px;
    padding: 4px;
  }

  .grid{
    display: block;
    margin-top: 0;
  }

  .card{
    margin-bottom: 10px;
  }

  .card-item{
    width: 100%;
  }

  .card-title{
    font-size: 30px;
    margin-top: 60px;
  }

}