body{
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none;
  text-decoration: none;
}

.nav{
  justify-content: center;
  padding-bottom: 15px;
}

.nav-list{
  width: 150px;
  height: 40px;
  padding-top: 8px;
  background-color: #EEFFFF;
  border: 1px solid lightgray;
  margin-right: 5px;
  text-align: center;
}

.current{
  background-color: #99FFFF;
  border: none;
  font-weight: bold;
}

.field_with_errors{
  display: contents;
}

.login-flash-message{
  color: red;
}

.logo{
  height: 100%;
  margin-left: 10px;
  width: 70px;
}

.nickname-btn{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.nickname-btn:hover{
  border: 2px solid white;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.nickname-btn{
  margin-right: 20px;
}

.logout-btn{
  margin-right: 10px;
}



@media (max-width: 500px){
  .logo{
    margin-left: 0;
    width: 60px;
  }

  .nickname-btn{
    font-size: 25px;
    margin-right: 10px;
  }

  .logout-btn{
    display: none;
    margin-right: 10px;
  }

  .nav-list{
    width: 100px;
  }
}