.visual-render-form{
  margin-top:30px;
}

#visual-image-list img{
  width: 450px;
  height: 300px;
  background-size: cover;
}

#visual_visual_category_id{
  border: none;
  border-radius: 5px;
}

#visual-image-list img{
  margin-top: 10px;
}