<div class="comment-content-main">
  <div class="comment-count">
    全<%= comments.count %>件のコメントがあります<br />
  </div>

  <div class="comment-container" id="comment-container">
    <div id="blog_comment">
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
          <div class="comment-content">
            <p class="comment-detail">
              <span class="comment-user-nickname"><%= comment.user.nickname %></span> ：<%= comment.created_at.strftime("%Y/%m/%d") %>
            </p>
            <p class="comment-text">
              <%= comment.comment %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const scroll = document.getElementById("blog_comment")
  scroll.scrollIntoView(false)
</script>
